@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&family=Poppins:wght@200;400;600&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
}

header {
  max-width: 540px;
  margin: 30px auto;
  text-align: center;
}
h1 {
  font-weight: 200;
}
span {
  font-weight: 600;
}

main {
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  margin: 15px;
  padding: 32px;
  width: 350px;
  height: 250px;
  background-color: #fff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.box-cyan {
  border-top: hsl(180, 62%, 55%) 5px solid;
}
.box-red {
  border-top: hsl(0, 78%, 62%) 5px solid;
}
.box-orange {
  border-top: hsl(34, 97%, 64%) 5px solid;
}
.box-blue {
  border-top: hsl(212, 86%, 64%) 5px solid;
}
h3 {
  margin: 0;
}
p {
  color: hsl(229, 6%, 66%);
}
article p {
  font-weight: 400;
  font-size: 13px;
}
article img {
  position: absolute;
  bottom: 32px;
  right: 32px;
}
.box-push {
  transform: translateY(50%);
}

@media (max-width: 800px) {
  .box-push {
    transform: translateY(0);
  }
}
